@using Event_Management_and_Ticket_Booking_System.Models.Entities
@using Event_Management_and_Ticket_Booking_System.Models.ViewModels
@model IEnumerable<Event>

<h2>Events</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Category)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Date)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Venue)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var eventItem in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(e => eventItem.Name)</td>
                    <td>@Html.DisplayFor(e => eventItem.Category)</td>
                    <td>@Html.DisplayFor(e => eventItem.Date)</td>
                    <td>@Html.DisplayFor(e => eventItem.Venue)</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = eventItem.Id }, new { @class = "btn btn-info btn-sm" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No events found.</td>
            </tr>
        }
    </tbody>
</table>